body {
    margin: 20px 5px;
    text-align: center;
    font-family: "Trebuchet MS", sans-serif;
    color: #750551;
    background-color:pink;
}
h1{
    font-family:cursive;
}
label{
    color: aliceblue;
    font-size: 15px;
    font-weight: 100;
    font-size: 16px;
}
legend{
    background-color: rgb(249, 66, 145);
    border: 1px solid aliceblue;
    border-radius: 25px;
    font-style: italic;
    font-size: 30px;
    padding: 15px;
    margin: 5px;
    color: aliceblue;
}
fieldset{
    background-color: rgb(101, 1, 56);
    margin-left: 90px;
    margin-right: 90px;
    border-radius: 40px;
}
p{
    color: aliceblue;
}
input{
    font-size: larger;
    padding: 4px;
}
select{
    font-size: medium;
    padding: 2px;
}
a{
    background-color:rgb(249, 66, 145);
    color: aliceblue;
    padding: 10px;
    border-radius: 20px;
    border: 1px solid aliceblue;
}

