body{
    background-color: rgb(255, 205, 226);
}  
h1{
    font-family:fantasy;
    font-weight: 800;
    text-align: center;
    margin-top: 20px;
    margin-left: 90px;
    margin-right: 90px;
    padding: 10px;
    padding-top: 20px;
    color: rgb(237, 237, 237);
    background-color: rgb(188, 4, 102);
    border: 1px solid aliceblue;
    border-radius: 50px;
}
img{
  display: block;
  margin: auto;
  width: 30%;
  border: 8px solid aliceblue;
}
nav{
    text-align: center;
    font-family: cursive;
    text-decoration: none;
    font-size: 18px;
}
li{
    padding: 5px;
    font-size: medium;
    font-weight: 800;
    border-radius: 50px;
    background-color: rgb(255, 134, 178);
    border: 3px solid aliceblue;
    color: rgb(104, 4, 52);
    margin-left: 350px;
    margin-right: 400px;
    margin-bottom: 10px;
}